{% extends "login.html" %}
{% block titulo %}Cadastro{% endblock %}
{% block conteudo %}
    <div class="bloco">
        <h1>Cadastro</h1>
        <form action="/login" method="post">
            <input type="text" placeholder="Nome de usuário" name="nome" required>

            <input type="password" placeholder="Senha" name="senha" required>

            <input type="password" placeholder="Confirmação de senha" name="csenha" required>

            <input type="submit" value="Entrar">
        </form>
        <p class="msg">{{msg}}</p>
    </div>
    <div class="bloco">
        <p>Já possui uma conta? <a href="login">Faça login</a></p>
    </div>
{% endblock %}