@font-face {
    font-family: Heebo-VariableFont_wght;
    src: url(../static/fonts/Heebo-VariableFont_wght.ttf);
 }

body{
    margin: 0;
    background-color: #f1f1f1;
    font-family: Heebo-VariableFont_wght;
}

.bloco{
    width: 400px;
    height: 1%;
    background-color: #fff;
    text-align: center;
    border: 1px solid #dbdbdb;
    margin: 20px auto;
}

.bloco:first-child{
    margin: 200px auto auto auto;
}

.bloco input {
    background-color: #f1f1f1;
    width: 70%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
}

.publicacao{
    width: 470px;
    height: 650px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin: 20px 20px auto auto;
}

.publicacao .junto{
    padding: 15px 0 0 15px;
}

.publicacao h4{
    margin-left: 5px;
}

.fotopubli{
    width: 470px;
    height: 470px;
}

.fotoperfil{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.fotoperfilnav{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

h4{
    margin-top: 10px;
}

.bloco input[type=submit] {
    background-color: #0095F6;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.bloco a{
    color:#0095F6;
}

.msg{
    color: #f00;
}

.sidebar{
    margin: 0;
    padding: 0;
    width: 330px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.sidebar a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    padding: 0px 0px 0px 20px;
    text-decoration: none;
}

.sidebar a:first-child{
    padding: 20px 0px 15px 20px;
}

.sidebar a:hover{
    background-color: #f1f1f1;
    border-radius: 50px;
}

.sidebar h3{
    padding: 0px 0px 0px 15px;
}

.sidebar input{
    background-image: url(../static/icon/search.svg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    width: 270px;
    padding: 10px 25px 10px 40px;
    margin: 10px 0px 10px 25px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
}

.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown{
    float: left;
    overflow: hidden;
}

@media(max-width:500px){
    .bloco{
        width: 100%;
        height: 100%;
    }
}